{% extends 'layout.html' %}
{% load static  %}

{% block content %}



<section class="product-list">
    <div class="product-container">
        
        {% if products %}
            {% for product in products %}
                <!--1productStart-->
                <div class="card">
                    <div class="card-image">
                        <a href="{% url 'detail' product.id %}"><img src="{% static product.get_image_path %}"></a>
                    </div>
                    <div class="card-title">
                        <a href="{% url 'detail' product.id %}">{{ product.name }}</a>
                    </div>
                    <div class="card-text">{{ product.desc }}</div>
                    <div>
                        <a href="{{ product.link }}">
                            <button type="button" class="btn card-btn">SATIN AL</button>
                        </a>
                    </div>
                </div>
                <!--1productEnd-->
            {% endfor %}


        {% else %}
            <div class="alert alert-warning">
                <p>
                    No Products
                </p>
            </div>

        {% endif %}
        
       
    </div>
</section>
<br><br><br><br>


{% endblock %}