@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  background-color: #000000;
}

.navbar {
  background-color: #000000;
}

.navbar-brand {
  color: #ffffff;
  font-family: "Sofia",sans-serif;
  font-size: 27;
}

.container-xl-fluid{
  margin-left: 7%;
  margin-right: 7%;
  min-width: 85%;
  max-height: 80px;
  
}

/*navbar içerikleri*/
li {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: -25px;;
  
}

/*... üzeri kargo bedava*/
.ustyazi {
  background: rgba(255, 255, 255, 0.16);
  height: 30px;
  width: initial;
  margin: auto;
}

.text-center{
  color: #707070;
  font-family: 'Segoe UI';
  font-size: 20px;
}

/*büyük resim*/
.container-lg-fluid {
  background-position: center;
  background-image:url("/anasayfa.png");
  z-index: -999;
  background-repeat: no-repeat, repeat;
  text-align: center;
  transform: translate(1px,0px);
  margin-left:auto ;
  margin-right: auto;
  background-size:100%;
  width: 95%;
  height: 800px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*büyük resim button*/
.btn.btn-outline-dark{
  color: white;
  border-color: rgb(235, 224, 224);
  border-radius: 0%;
  height: 60px;
  font-size: 22px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  transition: 0.7s ease;
  transform: translate(0%,220%);
}
.btn.btn-outline-dark:hover{
  color: black;
  background: linear-gradient( 45deg,  rgba(29, 236, 197, 0.5),  rgba(203, 194, 216, 0.5) 100%)
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.responsive{
  width: 100%;
  height: auto;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
}




/*hamburger menü*/
.navbar-toggler {
  border: none;
  width: 22px;
  height: 20px;
  background-color: #000000;
  transform: translate(0px,15px);
  position: relative;
  z-index: 1001;
}

.toggle-container {
  cursor: pointer;
  margin-left: -10px;
  margin-top: -5px;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 3px);
  transform: rotate(-45deg) translate(-9px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -3px);
  transform: rotate(45deg) translate(-8px, -3px);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}




/*arama yap*/
.arama{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2%;
  transform: translate(0px,-22px);
}



.form-control,.form-control:focus{
  transform: translate(0px,15px);
  border-radius: 30px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.35);
  text-align: center;
  -webkit-text-fill-color: #ffffff;
  outline: none;
  box-shadow: none;
  
}


.buton{
  border: none;
  background-color: transparent;
  color: white;
  transform: translate(5px,-15px);
}

/*Logo*/
.navbar-brand > img{
 display: block;
 max-height: 80px;
 height: auto;
 transition: all 0.4s;
}

/*Limited edition collection text*/
.edition{
  font-size: 65px;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}


/*mobil ekran*/
@media screen and (max-width: 768px){
  .navbar-brand>img{
    max-height: 50px;
    height: auto;
  }

  .container-xl-fluid{
    margin-left: 2%;
    margin-right: 2%;
    min-width: 90%;
  }

  li {
    margin-top: 30px;
  }

  .navbar-collapse{
    margin-left: 25%;
    margin-top: auto;
    z-index: 1000;
    position: relative;
  }
  .arama{
    margin-top: 30px;
    margin-left: 5px;
  }
  
  .container-lg-fluid{
    -webkit-background-size:200%;
    -moz-background-size:200%;
    -o-background-size:200%;
    background-size:200%;
    background-position:top;
    height: 500px;
  }

  .edition{
    font-size:30px ;
    margin-top: -30px;
    margin-bottom: -30px;
  }

}

