@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html,body {
  height: 100%;
  background-color: #000000;
}
a, u {
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}
.navbar {
  background-color: #000000;
}

.navbar-brand {
  color: #ffffff;
  font-size: 27;
}

.container-xl-fluid{
  margin-left: 7%;
  margin-right: 7%;
  min-width: 85%;
  max-height: 80px;
  
}

/*navbar içerikleri*/
li {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: -25px;;
  margin-bottom: 0px;
}

.nav-item .alısveris, .hakkımızda, .sss{
  display: none;
}
.nav-item .iletisim{
  margin-left: -20px;
  text-transform: capitalize;
}
/*... üzeri kargo bedava*/
.ustyazi {
  background: rgba(255, 255, 255, 0.16);
  height: 30px;
  width: initial;
  margin: auto;
}

.text-center{
  color: #707070;
  font-family: 'Segoe UI';
  font-size: 20px;
}

/*contents*/
.contents{
  padding: 5em;
  padding-top: 0em;
  min-height: 100%;
}

/*büyük resim*/
.container-lg-fluid {
  background-position: center;
  background-image:url("/anasayfa.png");
  z-index: -999;
  background-repeat: no-repeat, repeat;
  text-align: center;
  transform: translate(1px,0px);
  margin-left:auto ;
  margin-right: auto;
  background-size:100%;
  width: 95%;
  height: 800px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*büyük resim button*/
.btn.btn-outline-dark{
  color: white;
  border-color: rgb(235, 224, 224);
  border-radius: 0%;
  height: 60px;
  font-size: 22px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  transition: 0.7s ease;
  transform: translate(0%,220%);
}
.btn.btn-outline-dark:hover{
  color: black;
  background: linear-gradient( 45deg,  rgba(29, 236, 197, 0.5),  rgba(203, 194, 216, 0.5) 100%)
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.responsive{
  width: 100%;
  height: auto;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
}




/*hamburger menü*/
.navbar-toggler {
  border: none;
  width: 22px;
  height: 20px;
  background-color: #000000;
  transform: translate(0px,15px);
  position: relative;
  z-index: 1001;
}

.toggle-container {
  cursor: pointer;
  margin-left: -10px;
  margin-top: -5px;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 3px);
  transform: rotate(-45deg) translate(-9px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -3px);
  transform: rotate(45deg) translate(-8px, -3px);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}




/*arama yap*/
.arama{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2%;
  transform: translate(0px,-22px);
}



.form-control,.form-control:focus{
  transform: translate(0px,15px);
  border-radius: 30px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.35);
  text-align: center;
  -webkit-text-fill-color: #ffffff;
  outline: none;
  box-shadow: none;
  
}


.buton{
  border: none;
  background-color: transparent;
  color: white;
  transform: translate(5px,-15px);
}

/*Logo*/
.navbar-brand > img{
 display: block;
 max-height: 80px;
 height: auto;
 transition: all 0.4s;
}

/*Limited edition collection text*/
.edition{
  font-size: 65px;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}


/*footer*/
footer{
  position: relative;
}
.footer{
  background:rgba(255, 255, 255, 0.16);
  color: rgba(255, 255, 255, 0.68);
  height: 350px;
  position: relative;
}

.footer .footer-content{
  height: 300px;
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
}

.footer .footer-content .footer-section{
  flex: 1;
}
.footer-section.general{
  padding-top: 110px;
  padding-left:80px ;
}
.footer-section.papers{
  padding-top: 110px;
  padding-left:0px ;
}
.footer-section.socials{
  padding-top: 110px;
  padding-left:200px ;
}
.fa.fa-facebook,.fa.fa-instagram, .fa.fa-twitter {
  font-size: 55px;
  transition: 0.7s ease;
  padding: 5px;
}
.fa.fa-facebook:hover,.fa.fa-instagram:hover, .fa.fa-twitter:hover {
  color: rgb(42, 111, 168);
 
}


/*Products*/
.product-list{
  transform: translate(0px,-50px);
  padding-left:8em;
  padding-right: 6em;
  padding-top: 0em;
}

.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 90px;
}

.product-list .card{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  width: 530px;
  height: 650px;
}

.card .card-title{
  padding-top: 10px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}

.card img{
  width: 100%;
  height: 550px;
}

.card-text{
  text-align: center;
  padding-bottom: 10px;
  font-size: 23px;
}

.btn.card-btn{
  color: white;
  border-color: rgb(235, 224, 224);
  border-radius: 0%;
  height: 50px;
  width: 100%;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  transition: 0.7s ease;
  
}

.btn.card-btn:hover{
  color: black;
  background: linear-gradient( 45deg,  rgba(29, 236, 197, 0.5),  rgba(203, 194, 216, 0.5) 100%)
}

/*mobil ekran*/
@media screen and (max-width: 768px){
  .navbar-brand>img{
    max-height: 50px;
    height: auto;
  }

  .container-xl-fluid{
    margin-left: 2%;
    margin-right: 2%;
    min-width: 90%;
  }

  li {
    margin-top: 0px;
    margin-left: 20px;
    text-transform: uppercase;
  }

  .nav-item{
    padding-top: 0px;
  }
  .nav-item .alısveris, .hakkımızda, .sss{
    display: block;
  }

  .navbar-collapse{
    margin-left: 25%;
    margin-top: auto;
    z-index: 1000;
    position: relative;
  }

  .anasayfa{
    border-bottom: 1px solid rgba(203, 194, 216, 0.3);
    padding-bottom: 5px;
  }

  .nav-item .alısveris{
    border-bottom: 1px solid rgba(203, 194, 216, 0.3);
    padding-bottom: 5px;
  }
  .nav-item .iletisim{
    margin-left: 0px;
    text-transform: uppercase;
  }
  .arama{
    display: none;
   }
  
  .container-lg-fluid{
    -webkit-background-size:200%;
    -moz-background-size:200%;
    -o-background-size:200%;
    background-size:200%;
    background-position:top;
    height: 500px;
  }

  .edition{
    font-size:30px ;
    margin-top: -30px;
    margin-bottom: -30px;
  }

  /*footer-mobile*/

  .footer{
    height: 300px;
  }

  .footer.footer-content{
    height: 250px;
  }

  .footer-section.empty{
    display: none;
  }

  .footer-section.general{
   display: none;
  }
  .footer-section.papers{
    padding-top: 20%;
    padding-left:6% ;
  }
  .footer-section.socials{
    padding-top: 20%;
    padding-left:0px ;
  }

  .product-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 90px;
  }

  .product-list{
    transform: translate(0px,-50px);
    padding-left:2em;
    padding-right: 2em;
    padding-top: 0em;
  }

  .product-list .card{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    max-width: 80%;
    max-height: 80%;
  }
}

