@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html,body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

pre{
  color: #ffffff;
  white-space: pre-wrap;
  overflow: hidden;
}

a, u {
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: inherit;
}

.empty-div{
  height: 30%;
  background-color:#000000;
}

.navbar {
  background-color: #000000;
}

.navbar-brand {
  color: #ffffff;
  font-size: 27;
}

.container-xl-fluid{
  margin-left: 7%;
  margin-right: 7%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  max-height: 80px;
  align-items: center;
}

/*navbar içerikleri*/
li {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: -25px;;
  margin-bottom: 0px;
}

.nav-item .alısveris, .hakkımızda, .sss{
  display: none;
}
.nav-item .iletisim{
  margin-left: -20px;
  text-transform: capitalize;
}
/*... üzeri kargo bedava*/
.ustyazi {
  background: rgba(255, 255, 255, 0.16);
  height: 30px;
  width: 100%;
  margin: auto;
}

.text-center{
  color: #707070;
  font-family: 'Segoe UI';
  font-size: 20px;
}

/*contents*/
.contents{
  
  padding-top: 0em;
  min-height: 100%;
}

/*satış sözleşmesi-gizlilik sözleşmesi*/
.contractPage, .privacyPage, .sssPage{
  padding-left: 10%;
  padding-top: 2%;
  padding-right:7%;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
}


/*iletişim*/
.contact-container{
 padding: 5%;
 height: 850px;
 margin: auto;
 color: white;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 35px;
 font-weight: 400;
}

.always{
  padding: 8%;
  height: 450px;
  float: left;
}

.always img{
  max-width: 90%;
}

.contacts{
  margin-bottom: 20%;
  
}

/*büyük resim*/
/*anasayfa*/

.buyuk-resim-container{
  padding-left: 4%;
  padding-right: 4%;
}

.container-lg-fluid {
  background-position: center;
  background-image:url("../img/anasayfa.png");
  z-index: -999;
  background-repeat: no-repeat, repeat;
  text-align: center;
  transform: translate(1px,0px);
  margin-left:auto ;
  margin-right: auto;
  background-size:100%;
  width: 95%;
  height: 800px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*hakkımızda*/
.container-lg-fluid.about{
  background-position: center;
  background-image:url("../img/hakkında.png");
  opacity: 0.27;
  z-index: -999;
  color: #ffffff;
  background-repeat: no-repeat, repeat;
  text-align: center;
  transform: translate(1px,0px);
  margin-left:auto ;
  margin-right: auto;
  background-size:100%;
  width: 95%;
  height: 950px;
  display: flex;
  justify-content: center;
}

.about-text{
  color: #ffffff;
  transform: translate(0px,-750px);
  padding-left: 250px;
  height: 150px;
}

.about-text .h2{
  font-size: 40px;
  font-family: 'Nunito Sans', sans-serif;
}

.about-text .h1{
  font-size: 30px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}

/*büyük resim button*/
.btn.btn-outline-dark{
  color: white;
  border-color: rgb(235, 224, 224);
  border-radius: 0%;
  height: 60px;
  font-size: 22px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  transition: 0.7s ease;
  transform: translate(0,200%);
}
.btn.btn-outline-dark:hover{
  color: black;
  background: linear-gradient( 45deg,  rgba(29, 236, 197, 0.5),  rgba(203, 194, 216, 0.5) 100%)
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.responsive{
  width: 100%;
  height: auto;
  max-width: 1550px;
  margin-left: auto;
  margin-right: auto;
}




/*hamburger menü*/
.navbar-toggler {
  border: none;
  width: 22px;
  height: 20px;
  background-color: #000000;
  transform: translate(-15px,15px);
  position: relative;
  z-index: 1001;
}

.toggle-container {
  cursor: pointer;
  margin-left: -10px;
  margin-top: -5px;
}

.bar1, .bar2, .bar3 {
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 3px);
  transform: rotate(-45deg) translate(-9px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -3px);
  transform: rotate(45deg) translate(-8px, -3px);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}




/*arama yap*/
.arama{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2%;
  transform: translate(0px,-22px);
}



.form-control,.form-control:focus{
  transform: translate(0px,15px);
  border-radius: 30px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.35);
  text-align: center;
  -webkit-text-fill-color: #ffffff;
  outline: none;
  box-shadow: none;
  
}


.buton{
  border: none;
  background-color: transparent;
  color: white;
  transform: translate(5px,-15px);
}

/*Logo*/
.navbar-brand > img{
 display: block;
 max-height: 80px;
 height: auto;
 transition: all 0.4s;
}

/*Limited edition collection text*/
.edition{
  font-size: 65px;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}


/*footer*/
footer{
  position: relative;
}
.footer{
  background:rgba(255, 255, 255, 0.16);
  color: rgba(255, 255, 255, 0.68);
  height: 350px;
  position: relative;
}

.footer .footer-content{
  height: 300px;
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
}

.footer .footer-content .footer-section{
  flex: 1;
}
.footer-section.general{
  padding-top: 110px;
  padding-left:80px ;
}
.footer-section.papers{
  padding-top: 110px;
  padding-left:0px ;
}
.footer-section.socials{
  padding-top: 110px;
  padding-left:200px ;
}
.fa.fa-facebook,.fa.fa-instagram, .fa.fa-twitter {
  font-size: 55px;
  transition: 0.7s ease;
  padding: 5px;
}
.fa.fa-facebook:hover,.fa.fa-instagram:hover, .fa.fa-twitter:hover {
  color: rgb(42, 111, 168);
 
}

.display-4.sozlesme{
  font-size: 2vw;
}

.footer-hakkımızda, .footer-iletisim, .footer-sss, .footer-satıs, .footer-gizlilik{
  font-size: 22px;
  font-weight: lighter;
}

.h6.reebz{
  font-size: 22px;
  letter-spacing: 5px;
}

/*Products*/
.product-list{
  
  padding-left:8em;
  padding-right: 8em;
  padding-top: 0em;
}

.product-container{
  display: grid;
  padding: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 150px;
}

.product-list .card{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  height: 650px;
}

.card .card-title{
  padding-top: 10px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}

.card img{
  width: 100%;
  height: 550px;
}

.card-text{
  text-align: center;
  padding-bottom: 10px;
  font-size: 23px;
}

.btn.card-btn{
  color: white;
  border-color: rgb(235, 224, 224);
  border-radius: 0%;
  height: 50px;
  width: 100%;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  transition: 0.7s ease;
  
}

.btn.card-btn:hover{
  color: black;
  background: linear-gradient( 45deg,  rgba(29, 236, 197, 0.5),  rgba(203, 194, 216, 0.5) 100%)
}


/*DetailPage*/
.detailCard{
  padding-left: 8.1em;
  padding-right: 8em;
  padding-bottom: 1em;
  padding-top: 5px;
  display: flex;
}

.detailCard .CardImgs{
  height: 100%;
  flex: 0 0 40%;
  
}

.detailCard .CardTexts{
  height: 100%;
  flex: 1;
  padding-left: 4%;
  padding-right: 4%;
}

.detailTitle{
  font-size: 60px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}

.detailText{
  padding-top: 5%;
  font-size: 23px;
  color: #ffffff;
  font-weight: lighter;
  font-family: 'Nunito Sans', sans-serif;
}

.priceAndBtn{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.price{
  flex: 0 0 20%;
  text-align: center;
  font-size: 38px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}

.buy{
  flex:1;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.bodyText{
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;

}

.bodyTableContainer{
  padding-top: 10%;
}

.bodyTableImg{
  padding-right: 5%;
}
.bodyTableImg img{
  width: 60%;
  height: 60%;
}

.smallImgs{
  padding-top: 2%;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  height: 150px;
  
}

.small-img-col img{
  border: 2px solid #707070;
  height: 100%;
  background-size: cover;
}
.bigImg{
  height: 600px;
}
.bigImg img{
  height: 100%;
  object-fit: cover;
}

.extraProducts .detailText{
  padding-right: 2em;
  padding-left: 2em;
}

.showAllProducts{
  padding-top: 5%;
  padding-left: 40%;
  padding-right: 40%;
  text-align: center;
}

/*mobil ekran*/
@media only screen and (max-width: 600px){

  .empty-div{
    height: 20%;
  }
    
  .ustyazi>.text-center{
    font-size: 16px;
  }
  
  .navbar-brand>img{
    max-height: 50px;
    height: auto;
  }

  .container-xl-fluid{
    margin-left: 2%;
    margin-right: 2%;
    width: 120%;
  }

  li {
    margin-top: 0px;
    margin-left: 20px;
    text-transform: uppercase;
  }

  .nav-item{
    padding-top: 0px;
  }
  .nav-item .alısveris, .hakkımızda, .sss{
    display: block;
  }

  .navbar-collapse{
    margin-left: 25%;
    margin-top: auto;
    z-index: 1000;
    position: relative;
  }

  .anasayfa{
    border-bottom: 1px solid rgba(203, 194, 216, 0.3);
    padding-bottom: 5px;
  }

  .nav-item .alısveris{
    border-bottom: 1px solid rgba(203, 194, 216, 0.3);
    padding-bottom: 5px;
  }
  .nav-item .iletisim{
    margin-left: 0px;
    text-transform: uppercase;
  }
  .arama{
    display: none;
   }
  
  .container-lg-fluid{
    padding-top:0 !important;
    padding-bottom: 0 !important;
    -webkit-background-size:200%;
    -moz-background-size:200%;
    -o-background-size:200%;
    background-size:200%;
    background-position:center;
    max-height: 400px;
  }

  .btn.btn-outline-dark{
    transform: translate(0,110%);
  }

  .container-lg-fluid.about{
    -webkit-background-size:150%;
    -moz-background-size:150%;
    -o-background-size:150%;
    background-size:150%;
    background-position:top;
    height: 380px;
  }

  .edition{
    font-size:30px ;
    margin-top: -30px;
    margin-bottom: -30px;
  }

  /*footer-mobile*/

  .fa.fa-facebook,.fa.fa-instagram, .fa.fa-twitter {
    font-size: 30px;
  }

  .display-4.sozlesme{
    font-size: 22px;
    font-weight: bold;
  }

  .footer-satıs, .footer-gizlilik{
    font-size: 16px;
    font-weight: lighter;
    padding-top:0;
    padding-bottom:0;
  }

  .h6.reebz{
    font-size: 20px;
    letter-spacing: 5px;
  }

  .footer{
    height: 300px;
    min-width: 100%;
  }

  .footer.footer-content{
    height: 250px;
  }

  .footer-section.empty{
    display: none;
  }

  .footer-section.general{
   display: none;
  }
  .footer-section.papers{
    padding-top: 20%;
    padding-left:6% ;
  }
  .footer-section.socials{
    padding-top: 20%;
    padding-left:0px ;
  }

  /*product list*/
  .product-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    height: 100%;
  }

  .product-list{
    padding-left:2em;
    padding-right: 2em;
    padding-top: 0em;
  }

  .product-list .card{
    padding-right: auto;
    padding-left: auto;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height:fit-content
  }

  .card-image{
    height: 40%;
  }

  .card-image img{
    height: 100%;
  }

  /*hakkında*/
  .about-text{
    height: 50px;
    background-color:transparent ;
    color: #ffffff;
    transform: translate(0px,-350px);
    padding: 5%;
  }
  
  .about-text .h2{
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .about-text .h1{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
  }

  /*iletişim*/
  .contact-container{
    display: block;
    padding: 10px;
    height: 850px;
    margin: auto;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    font-weight: 400;
   }

  .always{
    float:none;
    height: 350px;
  }

  .always img{
    max-width: 100%;
  }

  .contacts{
    padding-top: 1%;
    padding-left: 20%;
  }  
 
  .contractPage, .privacyPage, .sssPage{
    padding-left: 7%;
    padding-right: 5%;
    font-size: 20px;
  }

}

