{% extends 'layout.html' %}

{% block content %}

<section class="aboutSection">
    <div class="aboutpage">
        <div class="container-lg-fluid about">
        </div>
        <div class="about-text">
            <p class="h2 text-left">Biz Kimiz?</p>
            <br><br>
            <p class="h1 text-left"> REEBZ ; farklı fikirlerin ortak ürünleriyle dönemin ihtiyaç duyulan tasarım anlayışını rahat, sade</p>
            <p class="h1 text-left">ve fark edilir şekilde, eksiksiz ya da fazlasız, tam ayarında, biz gözüyle gidermek için akla</p>
            <p class="h1 text-left"> gelmiş ve akılda kalmak için var olmuş, tanınmaya hazır markadır</p>
            <br><br>
            <p class="h1 text-left">Kıyafet gibi olağan ama imza ihtiyaçları gidermek, iyi hissetmek için iyi giyinmek ya da sadece</p>
            <p class="h1 text-left">Reebzlenmek isteyenlere ithaf edilmiştir</p>
        </div>
        
    </div>
</section>

{% endblock %}