{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <!--büyük resmin olduğu kısım-->
    <section>
        <div class="contents">
            <div class="container-lg-fluid">
                <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=Reebz&sid=ekRkNkZ3TDRWZlYzTFRzejBfLTFfIF8g">
                    <button type="button" class="btn btn-outline-dark">Alışveriş Yap</button>
                </a>
            </div>
            <br><br>
            <p class="edition text-center"> LIMITED EDITION COLLECTION</p>
            <br><br>
        </div>
    </section>
    <!--limited edition ile bitiyor-->

    <!--Ürün Listesi-->
    <section class="product-list">
        <div class="product-container">
            <!--1productStart-->
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/overdose/2.jpg' %}">
                </div>
                <div class="card-title">OVERDOSE</div>
                <div class="card-text">140 TL</div>
                <div>
                    <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=Reebz&sid=ekRkNkZ3TDRWZlYzTFRzejBfLTFfIF8g">
                        <button type="button" class="btn card-btn">ALIŞVERİS YAP</button>
                    </a>
                </div>
            </div>
            <!--1productEnd-->
            <!--1productStart-->
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/overdose/2.jpg' %}">
                </div>
                <div class="card-title">Overdose</div>
                <div class="card-text">testtesttest</div>
                <div>
                    <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=Reebz&sid=ekRkNkZ3TDRWZlYzTFRzejBfLTFfIF8g">
                        <button type="button" class="btn card-btn">ALIŞVERİS YAP</button>
                    </a>
                </div>
            </div>
            <!--1productEnd-->
            <!--1productStart-->
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/overdose/2.jpg' %}">
                </div>
                <div class="card-title">Overdose</div>
                <div class="card-text">açıklama</div>
                <div>
                    <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=Reebz&sid=ekRkNkZ3TDRWZlYzTFRzejBfLTFfIF8g">
                        <button type="button" class="btn card-btn">ALIŞVERİS YAP</button>
                    </a>
                </div>
            </div>
            <!--1productEnd-->
             <!--1productStart-->
             <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/overdose/2.jpg' %}">
                </div>
                <div class="card-title">Overdose</div>
                <div class="card-text">açıklama</div>
                <div>
                    <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=Reebz&sid=ekRkNkZ3TDRWZlYzTFRzejBfLTFfIF8g">
                        <button type="button" class="btn card-btn">ALIŞVERİS YAP</button>
                    </a>
                </div>
            </div>
            <!--1productEnd-->
             <!--1productStart-->
             <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/overdose/2.jpg' %}">
                </div>
                <div class="card-title">Overdose</div>
                <div class="card-text">açıklama</div>
                <div>
                    <a href="https://www.shopier.com/ShowProductNew/storefront.php?shop=Reebz&sid=ekRkNkZ3TDRWZlYzTFRzejBfLTFfIF8g">
                        <button type="button" class="btn card-btn">ALIŞVERİS YAP</button>
                    </a>
                </div>
            </div>
            <!--1productEnd-->

        </div>
    </section>
    <br><br><br><br>

{% endblock %}