{% extends 'layout.html' %}

{% block content %}

<section>
   <div class="sssPage">
       <pre>
SIKÇA SORULAN SORULAR

*Nasıl sipariş verebilirim? 
www.reebzhero.com  adresinde görüntülediğiniz ürünlerin hemen yanında bulunan ''alışveriş yap'' butonuna tıklayarak www.shopier.com/reebz bağlantısına yönlendirilirsiniz bu link üzerinden Shopier güvencesi ile alışveriş yapabilirsiniz ya da siparişinizi sosyal medya hesaplarımızdan DM üzerinden verebilirsiniz.

*Siparişim kaç günde elime ulaşır?
Siparişiniz kargoya verildikten sonra 1-5 iş gününde teslim edilir.

*Siparişimi nasıl takip edebilirim?
Siparişiniz kargoya teslim edildiğinde tarafımızdan size e-posta aracılığı ile kargo takip numaranız bildirilecektir. E-posta adresinize gelen takip numarasını siparişinizi kargoladığımız kargo firmasının internet sitesi üzerinden gönderi takip kısmına girerek kargonuzun durumunu öğrenebilirsiniz.

*Değişim ya da iade yapabilir miyim?
Siparişiniz sizlere ulaştıktan sonra 14 gün içerisinde değişim ya da iade yapabilirsiniz.

*Değişim ya da iade nasıl yapabilirim?
Değişim/iade işlemleri www.shopier.com/reebz üzerinden yapılmaktadır. Formu doldurarak iade/değişim işlemlerinizi başlatabilirsiniz.

*Kredi/Banka kartı ile güvenilir bir şekilde sipariş verebilir miyim?
Ödeme süreçleriniz www.shopier.com/reebz üzerinden olacaktır. Shopier aracılığıyla korumalı alışveriş altyapısını kullanmaktayız. 

*Ürünü elden satın alma şansım var mı?
Fiziksel bir mağazamız bulunmamaktadır. Sadece online satışımız mevcuttur.

*Sipariş verebilmek için üye olmaya gerek var mı?
Hayır. Üye olmadan da istediğin zaman sipariş verebilirsin.

*İade ettiğim ürünün geri ödemesi ne zaman yapılır?
İaden için siparişin sırasında kullandığın ödeme yöntemi üzerinden geri ödeme talimatı veriyoruz. Geri ödemen ödeme yönteminin şartlarına göre farklılık gösterebilir, ortalama 3-10 iş günü içerisinde tamamlanacaktır.

*Kampanyalardan yararlandığım bir siparişte değişim/iade nasıl olur?
Kampanyadan yararlanılmış bir siparişte, iade ya da değişim gerçekleştirildiği takdirde kampanya koşulları sağlanmaya devam ediyorsa kampanya iptali gerçekleşmeden iade ya da değişim işlemi yapılır. Ancak, iade ve değişim sonrası ürünler kampanya şartlarını sağlamaya yetmiyorsa kampanya iptal olur ve ürün iadesiyle ilgili ücret iadesi kampanyanın iptali göz önünde bulundurularak yapılır.
        </pre>
        <br>
   </div>
        
</section>

{% endblock %}