 <!-- footer start-->
 <footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section general">
                <h1 class="display-4" style="font-size: 30px; font-weight:500;">Kurumsal</h1>
                <a href="{% url 'about' %}">
                    <p class="h6" style="font-size:20px;font-weight:lighter; ">Hakkımızda</p>
                </a>
                <a href="{% url 'contact' %}">
                    <p class="h6" style="font-size:20px;font-weight:lighter; ">İletişim</p>
                </a>
                <a href="{% url 'sss' %}">
                    <p class="h6" style="font-size: 20px;font-weight:lighter; ">Sıkça Sorulan Sorular</p>
                </a>
            </div>
            <div class="footer-section papers">
                <h1 class="display-4" style="font-size: 30px; font-weight:500;">Sözleşmeler</h1>
                <a href="{% url 'contract' %}">
                    <p class="h6" style="font-size:20px;font-weight:lighter; ">Mesafeli Satış Sözleşmesi</p>
                </a>
                <a href="{% url 'privacy' %}">
                    <p class="h6" style="font-size:20px;font-weight:lighter; ">Gizlilik Politikası</p>
                </a>
            </div>
            <div class="footer-section empty"> </div>
            <div class="footer-section empty"> </div>
            <div class="footer-section socials">
                <a href="https://www.facebook.com/reebzhero/"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/reebzhero/"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/reebzhero/"><i class="fa fa-twitter"></i></a>
                <p class="h6" style="font-size:22px;font-weight:400;letter-spacing:7px; ">@reebzhero</p>

            </div>

        </div>
    </div>
</footer>
<!-- footer end-->